body{
	margin: 0;
	padding: 0;
	font-family: "Comfortaa", sans-serif;
}
/* Organizando o topo */
.topo{
	width: 100%;
	height: 90px;
	background-color: #4169E1;
	display: block;
}
/* Edições do menu */
.menu{
	top: 4%;
	left: 50%;
	position: absolute;
}

.menu a{
	color: #fff;
	text-decoration: none;
	margin-top: 3%;
	float: left;
	margin-right: 2em;
}

.menu a:hover{
	transition: 0.2;
	color: #D3D3D3;
}
/* Botão que aparece o menu */
header{
	text-decoration: none;
	margin-left: 87%;
	margin-top: -5%;
	position: absolute;
}
header a{
	text-decoration: none;

}
nav{
	width: 460px;
	position: fixed;
	overflow: hidden;
	margin-top: -10%;
	transition: 0.2s;
}
/* Seta botão que aparece a página secundaria */
#seta{
	text-decoration: none;
	font-size: 60px;
	color: white;
	margin-left: 7%;
	margin-top: -80px;
	position: absolute;
}
.pagina{
	display: none;
}
#setaFechar{
	text-decoration: none;
	font-size: 60px;
	color: white;
	margin-top: -80px;
	margin-left: -5%;
	position: absolute;
}
.logobranco{
	width: 130px;
	height: 30px;
	margin-left: 5%;
	margin-top: 30px;
	z-index: 1;
}

.logobranco2{
	position: absolute;
	margin-left: 80%;
	top: 800px;
}

.imagem{
	filter: brightness(50%);
}
.usuario{
	width: 100%;
}
/* Textos presentes */
.texto1{
	position: absolute;
	color: #fff;
	top: 300px;
	width: 800px;
	line-height: 40px;
	font-size: 60px;
	margin-left: 3%;
}

.texto2{
	position: absolute;
	color: #fff;
	top: 430px;
	width: 850px;
	margin-left: 3%;
	font-size: 30px;
}

.texto3{
	position: absolute;
	color: #fff;
	top: 600px;
	width: 320px;
	height: 80px;
	font-size: 35px;
	background-color: #00BFFF;
	margin-left: 3%;
	text-align: center;
	line-height: 0px;
}

.texto4{
	width: 1350px;
	height: 200px;
	font-size: 20px;
	background-color: #fff;
	text-align: center;
	line-height: 20px;
	margin-top: 5%;
	color: #8B8878;
}

mark{
	background-color: #fff;
	color: #FF4500;
}

.texto5{
	width: 1350px;
	height: 200px
	background-color: #fff;
	text-align: center;
	line-height: 30px;
	margin-top: 2%;
	color: #8B8878;
}

h1{
	color: #4169E1;
}
/* Informações do 'site' */
.informacoes{
	width: 630px;
	height: 145px;
	background-color: #4169E1;
	margin-top: 4%;
	margin-left: 3%;
	color: #fff;
}
.informacoes p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes p{
	margin-top: 2%;
}
.informacoes img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 2° */
.informacoes1{
	width: 630px;
	height: 145px;
	background-color: #0000FF;
	margin-top: -144px;
	margin-left: 52%;
	color: #fff;
}
.informacoes1 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes1 p{
	margin-top: 2%;
}
.informacoes1 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 3° bloco */
.informacoes2{
	width: 630px;
	height: 145px;
	background-color: #228B22;
	margin-top: 4%;
	margin-left: 3%;
	color: #fff;
}
.informacoes2 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes2 p{
	margin-top: 2%;
}
.informacoes2 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 4° bloco */
.informacoes3{
	width: 630px;
	height: 145px;
	background-color: #E9967A;
	margin-top: -144px;
	margin-left: 52%;
	color: #fff;
}
.informacoes3 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes3 p{
	margin-top: 2%;
}
.informacoes3 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 5° bloco */
.informacoes4{
	width: 630px;
	height: 145px;
	background-color: #A020F0;
	margin-top: 4%;
	margin-left: 3%;
	color: #fff;
}
.informacoes4 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes4 p{
	margin-top: 2%;
}
.informacoes4 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 6° bloco */
.informacoes5{
	width: 630px;
	height: 145px;
	background-color: #00BFFF;
	margin-top: -144px;
	margin-left: 52%;
	color: #fff;
}
.informacoes5 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes5 p{
	margin-top: 2%;
}
.informacoes5 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 7° bloco */
.informacoes6{
	width: 630px;
	height: 145px;
	background-color: #0000FF;
	margin-top: 4%;
	margin-left: 3%;
	color: #fff;
}
.informacoes6 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes6 p{
	margin-top: 2%;
}
.informacoes6 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 8° bloco */
.informacoes7{
	width: 630px;
	height: 145px;
	background-color: #4169E1;
	margin-top: -144px;
	margin-left: 52%;
	color: #fff;
}
.informacoes7 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes7 p{
	margin-top: 2%;
}
.informacoes7 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* 9° bloco */
.informacoes8{
	width: 630px;
	height: 145px;
	background-color: #7B68EE;
	margin-top: 4%;
	margin-left: 3%;
	color: #fff;
}
.informacoes8 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes8 p{
	margin-top: 2%;
}
.informacoes8 img{
	margin-top: 6%;
	margin-left: 5%;
}
/* 10* bloco */
.informacoes9{
	width: 630px;
	height: 145px;
	background-color: #8A2BE2;
	margin-top: -144px;
	margin-left: 52%;
	color: #fff;
}
.informacoes9 p, h3{
	margin-left: 18%;
	margin-top: -11%;
}
.informacoes9 p{
	margin-top: 2%;
}
.informacoes9 img{
	margin-top: 6%;
	margin-left: 5%;
}

/* ------- Finish bloco de informações ------ */

/* Configurações do"cumprimento" */
#titulo{
	text-align: center;
	margin-top: 80px;
}
.cumprimento{
	background-color: #32CD32;
	width: 150px;
	height: 150px;
	border-radius: 80px 80px 80px 80px;
	margin-left: 28%;
	margin-top: 6%;
}

.cumprimento img{
	width: 80px;
	height: 80px;
	margin-left: 5%;
	transform: translate(40%, 40%);
}

.cliquecumprimento{
	background-color: #fff;
	width: 360px;
	height: 390px;
	display: block;
	text-decoration: none;
	margin-left: 2%;
}
.cumprimentotexto{
	width: 340px;
	height: 220px;
	text-align: center;
	margin-left: -60%;
	color: #8B8878;
}
.cumprimentotexto h3{
	margin-top: 30%;
	margin-left: 5px;
	color: #32CD32;
}
.cliquecumprimento input{
	background: transparent;
	border: 3px solid;
	color: #32CD32;
	width: 120px;
	height: 40px;
}
.cliquecumprimento input:hover{
	cursor: pointer;
}
.cliquecumprimento:hover{
	cursor: default;
	transition: 0.2s;
	background: #CAFF70;
}

/* Configurações do Escudo */
#titulo{
	text-align: center;
	margin-top: 80px;
}
.escudo{
	background-color: #00E5EE;
	width: 150px;
	height: 150px;
	border-radius: 80px 80px 80px 80px;
	margin-left: 27%;
	margin-top: -390px;
}

.escudo img{
	width: 80px;
	height: 80px;
	margin-left: 2%;
	transform: translate(40%, 40%);
}

.cliqueescudo{
	background-color: #fff;
	width: 360px;
	height: 390px;
	display: block;
	text-decoration: none;
	margin-left: 35%;
}
.cliqueescudo input{
	background: transparent;
	border: 3px solid;
	color: #00E5EE;
	width: 120px;
	height: 40px;
}
.cliqueescudo input:hover{
	cursor: pointer;
}
.escudotexto{
	width: 340px;
	height: 220px;
	text-align: center;
	margin-left: -55%;
	color: #8B8878;
}
.escudotexto h3{
	margin-top: 30%;
	margin-left: 5px;
	color: #00E5EE;
}
.cliqueescudo:hover{
	cursor: default;
	transition: 0.2s;
	background: #BFEFFF;
}

/* Configurações do Notebook */
#titulo{
	text-align: center;
	margin-top: 80px;
}
.notebook{
	background-color: #FFA500;
	width: 150px;
	height: 150px;
	border-radius: 80px 80px 80px 80px;
	margin-left: 26%;
	margin-top: -390px;
}

.notebook img{
	width: 80px;
	height: 80px;
	margin-left: 5%;
	transform: translate(40%, 40%);
}

.cliquenotebook{
	background-color: #fff;
	width: 360px;
	height: 390px;
	display: block;
	text-decoration: none;
	margin-left: 71%;
}
.cliquenotebook input{
	background: transparent;
	border: 3px solid;
	color: #FFA500;
	width: 120px;
	height: 40px;
}
.cliquenotebook input:hover{
	cursor: pointer;
}
.notebooktexto{
	width: 340px;
	height: 220px;
	text-align: center;
	margin-left: -53%;
	color: #8B8878;
}
.notebooktexto h3{
	margin-top: 30%;
	margin-left: 5px;
	color: #FFA500;
}
.cliquenotebook:hover{
	cursor: default;
	transition: 0.2s;
	background: #EEDD82;
}

/* Tabela */
.tabela{
	width: 1200px;
	height: 250px;
	margin-left: 6%;
	margin-top: 4%;
	
}

caption{
	font-size: 30px;
	color: blue;
	margin-bottom: 4%;
}
td{
	text-align: center;
	border: 3px solid rgb(190,190,190);
	color:#8B8878;
}

#destaque{
	color: #FF4500;
}

/* Imagem de pessoas se cumprimentando */
.pessoal{
	margin-top: 5%;
	object-fit: cover;
	object-position: center;
	width: 1280px;
	height: 260px;
	filter: brightness(40%);
}
#textoimagem{
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 40px;
	margin-top: -150px;
}

/* Formulário */
#inicio{
	margin-top: 7%;
	text-align: center;
	font-size: 27px;
	color: #8B8878;
}

.grupo{
	text-align: center;
	height: 560px;
	width: 600px;
	margin-top: 3%;
	margin-left: 27%;
	background-color: #D3D3D3;
	border: none;
	line-height: 0.2em;	
}
.campo{
	margin-bottom: 2.5em;
}
.campo p{
	color:#8B8878;
	margin-left: -43%;
	font-size: 15px;
}

.campo input{
	border: none;
	height: 40px;
	width: 350px;
}
.campo input:focus{	
	color: #8B8878;
	border: 1px solid blue;
}
.botao{
	background-color: #00E5EE;
	border-radius: 10px 10px 10px 10px;
	font-size: 25px;
	border: none;
	width: 340px;
	height: 50px;
	color: #fff;
}
.botao:hover{
	cursor: pointer;
	background: #7A67EE;
	transition: 0.2s;
}

/* Logos azuis */
.logoazul1{
	float: left;
	margin-left: 35%;
	margin-top: 7%;
}
.logoazul2{
	margin-top: 7%;
	margin-left: 52%;
}

/* Copyright */
#copyright{
	text-align: center;
	color: #8B8878;
	margin-top: 3%;
}

/* Responsividade 
.responsiva{
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
@media screen and (max-width: 768px) { /// Tablet ////

	body{
		width: 100%;
	}

.responsiva{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
}

@media screen and(max-width:768px){ /// Celular ///
	
}
*/